@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("./assets/f1back.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
